<li id="record-<%= record.id %>">
  <%= link_to gravatar_for(record.user, size: 50), record.user %>
  <span class="user"><%= link_to record.user.name , record.user %></span>
  <span class="content"><%= record.content %></span>
  <span class="timestamp">Posted <%= time_ago_in_words(record.created_at) %></span>
</li>
